.about-hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 69px);
  overflow: hidden;
}

.about-hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #b0b0b066;
  z-index: 1;
  pointer-events: none;
}

.about-hero-video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.about-hero-text {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  z-index: 3;
}

.about-hero-text-img {
  width: 100%;
  margin: 0 auto;
}

.about-hero-text-top {
  color: #1f2a19;
  display: flex;
  gap: 6px;
  align-items: center;
  margin-bottom: 30px;
  font-size: 18px;
}
.about-hero-text-top p {
  padding-bottom: 3px;
}
.about-hero-text-img {
}
.about-hero-text-bottom {
  display: flex;
  gap: 10px;
  max-width: 620px;
  width: 100%;
  margin-left: auto;
  font-weight: 500;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
  color: #1f2a19;
  margin-top: 62px;
}
