.under-advantages-lines {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.under-advantages-line-edge {
  background-color: #d7ccbd;
  height: 22px;
  width: 100%;
}

.under-advantages-line-edge .container {
  position: relative;
}

.under-advantages-line-edge-left {
  position: absolute;
  left: 90px;
  max-width: 216px;
  height: 22px;
  width: 100%;
  background-color: #ffffff;
  display: block;
}
.under-advantages-line-edge-right {
  position: absolute;
  right: -92%;
  max-width: 100%;
  height: 22px;
  width: 100%;
  background-color: #ffffff;
}
.under-advantages-line-middle {
  background-color: #ffffff;
  height: 22px;
  width: 100%;
}

.under-advantages-line-middle .container {
  position: relative;
}

.under-advantages-line-middle-left {
  position: absolute;
  left: 90px;
  max-width: 216px;
  height: 22px;
  width: 100%;
  background-color: #d7ccbd;
  display: block;
}
.under-advantages-line-middle-right {
  position: absolute;
  right: -92%;
  max-width: 100%;
  height: 22px;
  width: 100%;
  background-color: #d7ccbd;
}

@media (max-width: 920px) {
  .under-advantages-line-edge-left,
  .under-advantages-line-middle-left,
  .under-advantages-line-edge,
  .under-advantages-line-middle,
  .under-advantages-line-edge-right,
  .under-advantages-line-middle-right {
    height: 20px;
  }

  .under-advantages-line-middle-left,
  .under-advantages-line-edge-left {
    max-width: 100px;
  }

  .under-advantages-line-middle-right,
  .under-advantages-line-edge-right {
    right: -95%;
  }
}

@media (max-width: 640px) {
  .under-advantages-line-edge-left,
  .under-advantages-line-middle-left,
  .under-advantages-line-edge,
  .under-advantages-line-middle,
  .under-advantages-line-edge-right,
  .under-advantages-line-middle-right {
    height: 10px;
  }
  .under-advantages-line-middle-left,
  .under-advantages-line-edge-left {
    max-width: 50px;
    left: 25px;
  }
  .under-advantages-line-middle-right,
  .under-advantages-line-edge-right {
    right: -93%;
  }
}
