.we-creating {
  height: calc(100vh - 69px);

  background-color: #1f2a19;
}
.we-creating .container {
  position: relative;
  height: 100%;
}
.we-creating-title {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-weight: 500;
  font-size: 64px;
  line-height: 70.01px;
  letter-spacing: -3%;
  text-transform: uppercase;
  color: #ffffff;
}
