.product-card {
  max-width: 450px;
  width: 100%;
  border: 2px solid #443c3b;
}

.product-card img {
  object-fit: contain;
  height: 360px;
}

.product-card-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
  border-top: 2.05px solid #443c3b;
}
.product-card-flex-title {
  font-weight: 600;
  font-size: 30px;
  line-height: 100%;
  color: #443c3b;
  letter-spacing: -1.22px;
  text-transform: uppercase;
  padding-left: 20px;
  padding-bottom: 1px;
}
.product-card-icon {
  max-width: 75px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 2px solid #443c3b;
  transition: all 0.3s ease;
  padding-right: 5px;
}
.product-card-subtitle {
  background: #443c3b;
  font-weight: 500;
  font-size: 27px;
  line-height: 25px;
  letter-spacing: -0.93px;
  color: #81918d;
  height: 69px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.product-card:hover,
.product-card:hover .product-card-media {
  background-color: #c0c8c6;
}

.product-card:hover .product-card-icon {
  background-color: #fff;
}

.product-card-media {
  width: 100%;
  height: 370px;
  overflow: hidden;
}

.product-card-media img,
.product-card-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.product-card-media {
  position: relative;
  width: 100%;
}

.product-card-media img {
  position: relative;
  z-index: 1;
  transition:
    opacity 0.4s ease,
    transform 0.4s ease;
}

/* VIDEO */
.product-card-video {
  position: absolute;
  inset: 0;
  z-index: 2;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

/* коли ховер і відео готове */
.product-card-image.hide {
  opacity: 0;
  transform: scale(1.02);
}

.product-card-video.show {
  opacity: 1;
}

@media (max-width: 920px) {
  .product-card-flex-title {
    font-size: 24.7px;
    line-height: 25.36px;
    letter-spacing: -0.95px;
    text-transform: uppercase;
    padding-left: 15px;
  }

  .product-card-flex {
    height: 60px;
  }

  .product-card-subtitle {
    height: 55px;

    font-weight: 500;
    font-size: 21.36px;
    line-height: 19.32px;
    letter-spacing: -0.72px;
    vertical-align: middle;
    text-transform: uppercase;
    padding-left: 15px;
  }

  .product-card-icon {
    max-width: 60px;
  }

  .product-card-media img,
  .product-card-video {
    object-fit: contain;
  }

  .products {
    padding: 80px 0 90px;
  }
}

@media (max-width: 800px) {
  .product-card-media {
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
}

@media (max-width: 600px) {
  .product-card-media {
    width: 100%;
    height: 260px;
    overflow: hidden;
  }

  .product-card {
    border: none;
  }

  .product-card-flex {
    border-left: 2.05px solid #443c3b;
    border-right: 2.05px solid #443c3b;
  }

  .product-card-media {
    border-left: 2.05px solid #443c3b;
    border-right: 2.05px solid #443c3b;
    border-top: 2.05px solid #443c3b;
  }
}

@media (max-width: 450px) {
  .product-card-flex-title {
    font-weight: 600;
    font-size: 21.73px;
    line-height: 22.31px;
    letter-spacing: -0.84px;
  }
  .product-card-subtitle {
    font-weight: 500;
    font-size: 18.8px;
    line-height: 17px;
  }
}
