.UnderProductsLines {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.UnderProductsLines-line-top .container,
.UnderProductsLines-line-bottom .container {
  position: relative;
}
.UnderProductsLines-line-top {
  background-color: #d7ccbd;
height: 18px;
}
.UnderProductsLines-line-top-left {
  display: block;
height: 18px;
  max-width: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: -93%;
  background-color: #80908d;
}
.UnderProductsLines-line-top-right {
  display: block;
height: 18px;
  max-width: 168px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 60px;
  background-color: #80908d;
}
.UnderProductsLines-line-bottom {
  background-color: #80908d;
height: 18px;
}
.UnderProductsLines-line-bottom-left {
  display: block;
height: 18px;
  max-width: 100%;
  width: 100%;
  position: relative;
  top: 0;
  left: -93%;
  background-color: #d7ccbd;
}
.UnderProductsLines-line-bottom-right {
  display: block;
height: 18px;
  max-width: 168px;
  width: 100%;
  position: absolute;
  top: 0;
  right: 60px;
  background-color: #d7ccbd;
}

@media (max-width: 920px) {
  .UnderProductsLines-line-top,
  .UnderProductsLines-line-top-left,
  .UnderProductsLines-line-top-right,
  .UnderProductsLines-line-bottom-left,
  .UnderProductsLines-line-bottom-right,
  .UnderProductsLines-line-bottom {
    height: 20px;
  }

  .UnderProductsLines-line-top-left,
  .UnderProductsLines-line-bottom-left {
    left: -96%;
  }

  .UnderProductsLines-line-top-right,
  .UnderProductsLines-line-bottom-right {
    max-width: 89px;
  }
}

@media (max-width: 640px) {
  .UnderProductsLines-line-top,
  .UnderProductsLines-line-top-left,
  .UnderProductsLines-line-top-right,
  .UnderProductsLines-line-bottom-left,
  .UnderProductsLines-line-bottom-right,
  .UnderProductsLines-line-bottom {
    height: 10px;
  }

  .UnderProductsLines-line-top-left,
  .UnderProductsLines-line-bottom-left {
    left: -96%;
  }

  .UnderProductsLines-line-top-right,
  .UnderProductsLines-line-bottom-right {
    max-width: 45px;
    right: 27px;
  }
}
