.byro {
  background: #ffffff;
  padding: 180px 0 240px;
  color: #1f2a19;
}
.byro-top h2 {
  font-family: Commissioner;
  font-weight: 500;
  font-size: 55px;
  line-height: 61px;
  letter-spacing: -0.85px;
  text-transform: uppercase;
  padding-bottom: 35px;
  padding-left: 63px;
}
.byro-top h3 {
  font-family: Commissioner;
  font-weight: 500;
  font-size: 55px;
  line-height: 61px;
  letter-spacing: -2px;
  text-transform: uppercase;
  margin-left: auto;
  max-width: 680px;
  width: 100%;
  padding-top: 30px;
}
.byro-top {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.byro-content {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 120px;
}
.byro-content-img img {
  position: relative;
  z-index: 3;
}
.byro-content-img {
  max-width: 530px;
  height: max-content;
  width: 100%;
  position: relative;
}

.byro-content-text {
  max-width: 680px;
  width: 100%;
}

.byro-content-text h2 {
  font-weight: 500;
  font-size: 40px;
  line-height: 44px;
  letter-spacing: -2%;
  margin-bottom: 78px;
}

.byro-content-text p {
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

.byro-globe {
  position: absolute;
  z-index: 0;
  pointer-events: none;
  left: 50%;
  top: 50%;
  width: 185%;
  max-width: 800px;
  transform: translate(-78%, -50%);
}

.byro-globe .byro-globe__image {
  width: 100%;
  height: auto;
  max-width: none;
  display: block;
}

@media (max-width: 1100px) {
  .byro-top h2 {
    font-size: 40px;
    padding-left: 0;
    padding-bottom: 30px;
  }
  .byro-top h3 {
    max-width: max-content;
    font-size: 40px;
    line-height: 120%;
  }
}

@media (max-width: 920px) {
  .byro {
    padding: 140px 0 120px;
  }
  .byro-content {
    flex-direction: column;
    margin-top: 70px;
    gap: 90px;
  }
  .byro-globe {
    transform: translate(-100%, -50%);
  }
  .byro-content-text {
    margin-left: auto;
  }
  .byro-content-text h2 {
    font-size: 32px;
    line-height: 36px;
    margin-bottom: 42px;
  }
  .byro-content-text p {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (max-width: 640px) {
  .byro .container {
    padding: 0 12px;
  }
  .byro-globe {
    transform: translate(-100%, -50%);
    left: 40%;
    max-width: 400px;
  }
  .byro {
    padding: 120px 0 100px;
  }
  .byro-top h2 {
    font-size: 20px;
    padding-left: 10px;
    padding-bottom: 6px;
    line-height: 30px;
  }
  .byro-top h3 {
    max-width: max-content;
    font-size: 20px;
    line-height: 22px;
    padding-top: 6px;
  }
  .byro-content {
    flex-direction: column;
    margin-top: 50px;
    gap: 55px;
  }
  .byro-content-text h2 {
    font-size: 19px;
    line-height: 21px;
    margin-bottom: 26px;
  }
  .byro-content-text p {
    font-size: 16px;
    line-height: 19px;
  }
  .byro-content-text {
    padding-left: 12px;
  }
}
