@import "tailwindcss";

body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Commissioner", sans-serif;
}

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;
  padding: 0 25px;
}

html,
body {
  -ms-overflow-style: none; /* IE, Edge old */
  scrollbar-width: none; /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@media (max-width: 1100px) {
  .container {
    padding: 0 20px;
  }
}

.Toastify__progress-bar {
  background: #443c3b !important;
}
