.header {
  background-color: #443c3b;
  margin-top: 15px;
  position: fixed;
  z-index: 10;
  width: 100%;
  top: 0;
}

.header::after {
  content: "";
  position: absolute;
  background-color: #80908d;
  bottom: 100%;
  width: 100%;
  height: 20px;
}

.header .container {
  padding: 0;
  display: flex;
  align-items: center;
  height: 54px;
}

.header-spacer{
 margin-top: 69px; 
}

.header-logo {
  padding-left: 20px;
  max-width: 185px;
  width: 100%;
}
.header-menu-button {
  position: relative;
  display: flex;
  align-items: center;
  max-width: 200px;
  width: 100%;
  height: 100%;
  background: #81918d;
  padding-left: 20px;
  cursor: pointer;
}
.header-menu-button::after {
  position: absolute;
  z-index: 5;
  content: "";
  background-color: #443c3b;
  height: 20px;
  width: 100%;
  bottom: 100%;
  left: 0;
}

.header-menu {
  background-color: #81918d;
  position: absolute;
  width: 100%;
  left: 0;
  top: 100%;
  z-index: 3;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  pointer-events: none;

  transition:
    opacity 0.35s ease,
    transform 0.35s ease,
    visibility 0.35s ease;
}

.header-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}
.header-menu-link {
  padding: 14px 20px;
  border-top: 1px solid #443c3b;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-link p {
  font-family: Commissioner;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -2%;
  text-transform: capitalize;
  color: #443c3b;
}

.header-search {
  background: #d4dad8;
  height: 100%;
  max-width: 270px;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 0 12px;
  gap: 20px;
}

.header-search-icon {
  width: 25px;
}

.header-search-input {
  font-family: Commissioner;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.header-search-button {
  max-width: 150px;
  width: 100%;
  font-family: Commissioner;
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

.header-tel-us {
  position: relative;
  font-weight: 600;
  font-size: 18px;
  color: #443c3b;
  max-width: 220px;
  width: 100%;
  background-color: #81918d;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-tel-us::after {
  position: absolute;
  z-index: 5;
  content: "";
  background-color: #443c3b;
  height: 20px;
  bottom: 100%;
  left: 0;
  width: 100%;
}

.contact-us {
  max-width: 260px;
  width: 100%;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.85px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 10px;
  cursor: pointer;
}

.header-search-changle-language {
  position: relative;
  max-width: 100px;
  width: 100%;
  height: 100%;
  background-color: #81918d;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  text-transform: uppercase;
}

.header-search-changle-language::after {
  position: absolute;
  z-index: 5;
  content: "";
  background-color: #443c3b;
  height: 20px;
  bottom: 100%;
  left: 0;
  width: 100%;
}

.header-search-changle-language p {
  color: #443c3b;
  font-weight: 600;
  font-size: 18px;
}

.header-search-changle-language img {
  width: 8px;
}

.header-menu-button-icon {
  width: 20px;
  height: 12px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header-menu-button-icon span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: rgba(68, 60, 59, 1);
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

.header-menu-button-icon span:nth-child(1) {
  top: 0px;
}

.header-menu-button-icon span:nth-child(2),
.header-menu-button-icon span:nth-child(3) {
  top: 50%;
}

.header-menu-button-icon span:nth-child(4) {
  top: 100%;
}

.header-menu-button-icon.open span:nth-child(1) {
  top: 50%;
  width: 0%;
  left: 50%;
}

.header-menu-button-icon.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.header-menu-button-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.header-menu-button-icon.open span:nth-child(4) {
  top: 50%;
  width: 0%;
  left: 50%;
}

