.advantages-card .product-card-plus {
  position: relative;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.advantages-card .product-card-plus span {
  position: absolute;
  background: #443c3b;
  transition: transform 0.4s ease;
}

.advantages-card .product-card-plus span:first-child {
  width: 100%;
  height: 4px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.advantages-card .product-card-plus span:last-child {
  width: 4px;
  height: 100%;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}

.product-card-plus.open span:first-child {
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
}

.product-card-plus.open span:last-child {
  background: #fff;
  transform: translateX(-50%) rotate(45deg);
}

.advantages-card {
  color: #1f2a19;

  padding: 70px 40px;
  border-bottom: 1px solid #1f2a19;
  background-color: transparent;
  transition: all 0.3s ease;
}

.advantages-card.open {
  background-color: var(--Dark-Graphite, #443c3b);
  color: #fff;
}

.advantages-card-top {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}

.advantages-card-top-left {
  position: relative;
  padding-left: 45px;
}

.advantages-card-top-left-count {
  position: absolute;
  left: 0;
  top: -16px;
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 5%;
}

.advantages-card-top-left h2 {
  font-weight: 600;
  font-size: 34px;
  line-height: 100%;
  letter-spacing: -1%;
  text-transform: uppercase;
}

.advantages-card-content-left-text {
  max-width: 530px;
  width: 100%;
}
.advantages-card-content-right {
  max-width: 530px;
  width: 100%;
  display: flex;
  gap: 18px;
  align-items: flex-start;
}

.advantages-card-content {
  display: grid;
  grid-template-rows: 0fr;
  padding-top: 0;
  padding-right: 60px;
  padding-left: 45px;
  transition:
    grid-template-rows 0.4s ease,
    padding-top 0.4s ease;
}

.advantages-card.open .advantages-card-content {
  grid-template-rows: 1fr;
  padding-top: 50px;
}

.advantages-card-content-inner {
  min-height: 0;
  overflow: hidden;
}

.advantages-card-content-flex {
  display: flex;
  justify-content: space-between;
  gap: 40px;

  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}
