.UnderByroLines {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.UnderByroLines-top {
  width: 100%;
  background-color: #81918d;
  height: 28px;
}
.UnderByroLines-top .container,
.UnderByroLines-bottom .container {
  position: relative;
}
.UnderByroLines-top-left-line {
  position: absolute;
  background-color: #fff;
  height: 28px;
  max-width: 700px;
  width: 100%;
  left: 100px;
}
.UnderByroLines-top-right-line {
  position: absolute;
  background-color: #fff;
  height: 28px;
  width: 100%;
  max-width: 2000px;
  right: -110%;
}
.UnderByroLines-bottom {
  background-color: #ffffff;
  height: 20px;
}
.UnderByroLines-bottom-left-line {
  position: absolute;
  background-color: #81918d;
  height: 20px;
  max-width: 700px;
  width: 100%;
  left: 100px;
}
.UnderByroLines-bottom-middle-line {
  position: absolute;
  background-color: #fff;
  height: 20px;
  max-width: 100px;
  width: 100%;
  left: 190px;
}
.UnderByroLines-bottom-right-line {
  position: absolute;
  background-color: #81918d;
  height: 20px;
  width: 100%;
  max-width: 2000px;
  right: -110%;
}

  
